<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--<add key="jsonfolders" value="F:/dfm,F:/mdg"/>-->
    <!--<add key="zipfiles" value="F:/dfm/dfm.zip,F:/mdg/markdig-migrate.zip"/>
    <add key="directory" value="F:/test"/>-->
  </appSettings>
</configuration>