<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="sourceFolderA" value="F:\dfm-html"/>
    <add key="sourceFolderB" value="F:\mdg-html"/>
    <add key="sourceDirectory" value="F:\"/>
    <add key="resultDirectory" value="F:\Compare"/>
    <add key="startWinMerge" value="true"/>
  </appSettings>
</configuration>